 :root {
    --brand-color: #2196f3;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --footer-background-color: #2f303a;
    --last-text-color: #ffffff;
    --second-background-color: #f5f4fa;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --fill-main-color: #AFB1B8;

}